* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Classes */

body {
    font-family: 'Montserrat','Rubik','Raleway', sans-serif;
    background: #333;
}

.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
}

.important {
    color: #608CBE;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1d1d1d; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(51, 51, 51); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  h2 {
      padding-bottom: 20px;
  }

  .important-dark {
      font-weight: 800;
  }



/* Style */


#header-info {
    text-align: center;
    line-height: 2.1em;
    font-size: 40px;
    color: white;
    background: url('../img/SEASTAR.JPG') no-repeat center center/cover;
    height: 620px;
    padding-top: 30px;
}

#header-info h3 {
    font-size: 35px;
}

#header-info .container .img-wrapper {
    height: 300px;
    width: 300px;
    padding: 16px;
    background: url(/img/praya.JPG) no-repeat center center/cover;
    border-radius: 50%;
    margin: auto;
    border: solid 6px rgb(255, 255, 255);
    margin-bottom: 37px;
    margin-top: 35px;
}

.flex-container {
    display: flex;
}
#desc-card {
    padding: 20px;
    margin: 20px;
    background: rgb(243, 73, 73, 0.9);
    opacity: 300px;
    width: 600px;
    box-shadow: #292929 3px 3px 10px;
}

#desc-card-2 {
    padding: 20px;
    margin: 20px 0;
    background: rgb(243, 73, 73, 0.9);
    box-shadow: #292929 3px 3px 10px;
    
}


#description h3 {
    font-weight: 500;
}

footer {
    height: 70px;
    background: rgb(202, 202, 202)
}

@media only screen and (max-width: 650px) {
    #header-info {
        height: 700px;
    }
    
}

#description {
    background: url('../img/abstract-design-diagonal-2387532.jpg') no-repeat center center/cover;
    
}




